body {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    justify-content: space-between;
}

.container {
	width: 400px;
	
}
#score-text {
    font-family: "Roboto, Sans-Serif";
    padding: 10px;
}
