body {
    text-align: center;
}

div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: -50px;

}
#score-text {
    font-family: "Roboto, Sans-Serif";
    padding: 10px;
    pos
    text-align: center;
}
